.res-circle {
  /* (A) PERCENTAGE WIDTH & BORDER RADIUS */
  margin:3%;
width: 12%;
border-style: solid;
border-width:1px;
  border-color: red;
  border-radius: 50%;
  display: inline-block;

  /* (B) BACKGROUND COLOR */ 
 /* background: #bcd6ff;*/
 
  /* (C) NECESSARY TO POSITION TEXT BLOCK */
  line-height: 0;
  position: relative;
}
 
/* (D) MATCH HEIGHT */
.res-circle::after {
  content: "";
  display: inline-block;
  padding-bottom: 100%;
}
 
/* (E) TEXT BLOCK */
.circle-txt {
  /* (E1) CENTER TEXT IN CIRCLE */
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
  font-size: 1.5vw;
 
  /* (E2) THE FONT - NOT REALLY IMPORTANT */
  font-family: arial, sans-serif;
  font-weight: bold;
}